@charset "utf-8";
/* CSS Document */

body {
    background-color: #3b5154;
    
}

nav {

    
}


#logo_nav {
    margin-right: 10px;
    
}

#link_insta {
    display:inline-block;
}

@media (max-width: 600px) {
    #link_insta {
        display:none;
    }
    
}

#insta_logo {
    
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #ac663d;
    padding-bottom: 15px;
    font-variant: small-caps;
    
}


.carousel {
    width: 500px;
    border-style: solid;
    border-color: #ac663d;
    border-width: 10px;
    border-radius: 5px;
    

}

main {
    background-color: none;
    margin-top: 180px;

    
}

#destaque {
    justify-content: center;
    padding-bottom: 40px;
    
    
}

#img_destaque {
    display: flex;
    justify-content: center;
    background-color: none;
    
 
    
    
}

#frame_destaque {
    border-color: #ac663d;
    padding: 15px;
    border-radius: 10px;
}

#capa_galeria {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #929aa2;

}

.card {
    margin: 5px;
}
